.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-landing {
  width: 500px;
}

.card-content {
  text-align: center;
}

.card-action {
  text-align: center;
}
